#!/usr/bin/env bash

cd $(dirname $0)

sudo pigpiod # If needed

touch /tmp/raspi-project.stop
sleep 5

sudo pkill -f raspi-project.py
sleep 2

sudo rm -f /tmp/raspi-project.stop

while [[ ! -f /tmp/raspi-project.stop ]]; do
    # Edit the following line
    sudo python2 ./raspi-project.py russula --debug --broker tylopilus.intra --module commander,switch,motion-detector
done
